:root {
    --green-color: #2dc937;
    --red-color: #cc3232;
    --btn-back: #f0f0f0;
    --border-fill: #d0d0d0;
    --led-off: #d0d0d0;
  }

div{
 
    /* border: 1px solid #000; */
}

.wrapper{
      margin: 0;      
      background-color: #333;
      display: grid;
      justify-content: center;
}

#display{
	height: 100%;
	width: 100%;
	float:right;
	display:block;
	margin: 0px 0px 0px 0px;
}

canvas{margin: 10px  10px  10px  10px
}

#span span{
  writing-mode: vertical-lr;
  text-orientation: upright; 
  text-align: center;
  width: 1em;  
  padding: .05em 1em;
  margin: 0;
  height:10%;
  font-size: 14pt;
  font-weight: bold;
}

button{
  background-repeat: no-repeat; 
  background-position: center;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  font-size: 12pt;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px;
}


 
.parent {
display: grid;
grid-template-columns: 80px;
grid-template-rows: (repeat 5, 75px) 100px;
grid-gap: 10px;
height: 500px;
width: 900px;     
margin: 0,auto;
background-color: #777777;
padding: 10px;
border-radius: 12px;
}
 
/* row1 */
.row1col1 { grid-area: 1 / 1 / span 1 / span 10;	
  	padding: 0px  15px  0px  15px;
	float:right;
	display:block;
  	background-color: rgb(36, 30, 30);
}
/* row2 
.row2col1 { grid-area: 2 / 1 / span 1 / span 1; }
.row2col2 { grid-area: 2 / 2 / span 1 / span 1; }
.row2col3 { grid-area: 2 / 3 / span 1 / span 1; }
.row2col4 { grid-area: 2 / 4 / span 1 / span 1; }
.row2col5 { grid-area: 2 / 5 / span 1 / span 1; }
.row2col6 { grid-area: 2 / 6 / span 1 / span 1; }
.row2col7 { grid-area: 2 / 7 / span 1 / span 1; }
.row2col8 { grid-area: 2 / 8 / span 1 / span 1; }
.row2col9 { grid-area: 2 / 9 / span 1 / span 1; }
.row2col10 { grid-area: 2 / 10 / span 1 / span 1; }
*/
/* row3 */
.row3col1 { grid-area: 2 / 1 / span 1 / span 1; }
.row3col2 { grid-area: 2 / 2 / span 1 / span 1; }
.row3col3 { grid-area: 2 / 3 / span 1 / span 1; }
.row3col4 { grid-area: 2 / 4 / span 1 / span 1; }
.row3col5 { grid-area: 2 / 5 / span 1 / span 1; }
.row3col6 { grid-area: 2 / 6 / span 1 / span 1; }
.row3col7 { grid-area: 2 / 7 / span 1 / span 1; }
.row3col8 { grid-area: 2 / 8 / span 1 / span 1; }
.row3col9 { grid-area: 2 / 9 / span 1 / span 1; }
.row3col10 { grid-area: 2 / 10 / span 1 / span 1; }
/* row4 */
.row4col1 { grid-area: 3 / 1 / span 1 / span 1; }
.row4col2 { grid-area: 3 / 2 / span 1 / span 1; }
.row4col3 { grid-area: 3 / 3 / span 1 / span 1; }
.row4col4 { grid-area: 3 / 4 / span 1 / span 1; }
.row4col5 { grid-area: 3 / 5 / span 1 / span 1; }
.row4col6 { grid-area: 3 / 6 / span 1 / span 1; }
.row4col7 { grid-area: 3 / 7 / span 1 / span 1; }
.row4col8 { grid-area: 3 / 8 / span 1 / span 1; }
.row4col9 { grid-area: 3 / 9 / span 1 / span 1; }
.row4col10 { grid-area: 3 / 10 / span 1 / span 1; }
/* row5 */
.row5col1 { grid-area: 4 / 1 / span 1 / span 1; }
.row5col2 { grid-area: 4 / 2 / span 1 / span 1; }
.row5col3 { grid-area: 4 / 3 / span 1 / span 1; }
.row5col4 { grid-area: 4 / 4 / span 1 / span 1; }
.row5col5 { grid-area: 4 / 5 / span 1 / span 1; }
.row5col6 { grid-area: 4 / 6 / span 2 / span 1; }
.row5col7 { grid-area: 4 / 7 / span 1 / span 1; }
.row5col8 { grid-area: 4 / 8 / span 1 / span 1; }
.row5col9 { grid-area: 4 / 9 / span 1 / span 1; }
.row5col10 { grid-area: 4 / 10 / span 1 / span 1; }
/* row6 */
.row6col1 { grid-area: 5 / 1 / span 1 / span 1; }
.row6col2 { grid-area: 5 / 2 / span 1 / span 1; }
.row6col3 { grid-area: 5 / 3 / span 1 / span 1; }
.row6col4 { grid-area: 5 / 4 / span 1 / span 1; }
.row6col5 { grid-area: 5 / 5 / span 1 / span 1; }
.row6col6 { grid-area: 5 / 6 / span 1 / span 1; }
.row6col7 { grid-area: 5 / 7 / span 1 / span 1; }
.row6col8 { grid-area: 5 / 8 / span 1 / span 1; }
.row6col9 { grid-area: 5 / 9 / span 1 / span 1; }
.row6col10 { grid-area: 5 / 10 / span 1 / span 1; }


/* Darker background on mouse-over */
button:hover {
  background-color: lightgrey;
}


#oprr{
    background-image:url('/assets/img/enter.png');
}

#dig0{
    background-image:url('/assets/img/0.png');
    background-size: 45px 45px;
}

#dig1{
    background-image:url('/assets/img/1.png');
     background-size: 45px 45px;
}

#dig2{
    background-image:url('/assets/img/2.png');
    background-size: 45px 45px;
}

#dig3{
    background-image:url('/assets/img/3.png');
    background-size: 45px 45px;
}

#dig4{
    background-image:url('/assets/img/4.png');
    background-size: 45px 45px;
}

#dig5{
    background-image:url('/assets/img/5.png');
    background-size: 45px 45px;
}

#dig6{
    background-image:url('/assets/img/6.png');
    background-size: 45px 45px;
}

#dig7{
    background-image:url('/assets/img/7.png');
    background-size: 45px 45px;
}

#dig8{
    background-image:url('/assets/img/8.png');
    background-size: 45px 45px;
}

#dig9{
    background-image:url('/assets/img/9.png');
    background-size: 45px 45px;
}


#cmdc{
    background-image:url('/assets/img/maths.png');
}

#opra{
    background-image:url('/assets/img/plus.png');
    background-size: 45px 45px;
}

#oprs{
    background-image:url('/assets/img/minus.png');
    background-size: 45px 45px;
}

#oprd{
    background-image:url('/assets/img/division.png');
    background-size: 45px 45px;
}

#oprm{
    background-image:url('/assets/img/multiply.png');
    background-size: 45px 45px;    
}


#digp{
    background-image:url('/assets/img/dot.png');
    background-size: 45px 45px;
}

#opre{
    background-image:url('/assets/img/sum.png');
    background-size: 45px 45px;
}

#cmdb{
    background-image:url('/assets/img/backspace.png');
    background-size: 45px 45px;
}

#opro{
    background-image:url('/assets/img/rdn.png');
    background-size: 45px 45px;
}
